@import "variables";
@mixin floating($border-radius: 4px, $box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), $border: none) {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: $border;
  }
  
  @mixin grid($items-per-row: 3) {
    display: flex;
    flex-wrap: wrap;
    gap: $margin-md;
    
    > * {
      flex: 1 1 calc(100% / #{$items-per-row} - #{$margin-md});
    }
  }
  
  @mixin fade-in-down($duration: 1s, $delay: 0s, $start: -10px, $end: 0, $name: 'fadeInDown') {
    @keyframes #{$name} {
      0% {
        opacity: 0;
        transform: translateY(#{$start});
      }
      100% {
        opacity: 1;
        transform: translateY(#{$end});
      }
    }
  
    animation: #{$name} #{$duration} ease-in-out #{$delay};
  }
  