// Colori
$text-color: #f4f4f4;
$button-primary: #ff8700;
$button-secondary: #4caf50;
$bg-hero: #640fc5;
$background-color: #ffffff;


// Font
$font-family: Arial, sans-serif;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;

// Spaziature
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 20px;
$margin-sm: 5px;
$margin-md: 10px;
$margin-lg: 15px;
$margin-xl: 20px;
